<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>

<%if @project%>
    <h2><%=@project.name%></h2>
    <h3><%=@project.project_description%></h2>
<%end%>

<%if @project.tasks%>
    <% @project.tasks.each do |t| %>
        <%if t.task_description != nil %>
            <li><%= t.task_description %> //// Priority: <%= t.priority %> </li>
        <%end%>
    <%end%>
<%end%>


<h3> New Task: </h3>
    <%= form_for(@task, url: form_url_helper(@project)) do |f|%>
        <%=f.label "Description"%>
        <%=f.text_field(:task_description)%>
        <%=f.label "Priority"%>
        <%=f.number_field(:priority)%>
    
    
    <%if !@project%>
        <%=f.label "Project"%>
        <%=f.collection_select(:project_id, @projects, :id, :name) %>
    <%end%>
  
  <br>
  <br>
  <%=f.submit("Save")%>
<%end%>

