<div class="container">
<br>
    
<%=render(partial: "application/errors", locals: {errors: @task.errors.full_messages})%>

<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>

<%if @project%>
    <h1><%=@project.name%></h1>
    <h3><%=@project.project_description%></h2>
<%end%>

<br>
<h3> New Task: </h3>
    <%= form_for(@task, url: form_url_helper(@project)) do |f|%>
        <%=f.label "Description"%>
        <%=f.text_field(:task_description)%>
        <%=f.label "Priority"%>
        <%=f.number_field(:priority)%>
        <%=f.label "Assigned To:" %>
        <%=f.select :assigned, User.all.collect { |p| [p.username, p.id] }, :include_blank => true %>

    <%if !@project%>
       <% @project2 = Project.last %>
       <%= f.hidden_field :project_id, :value => @project2.id %>
    <%end%>

  
  <br>
  <br>
  <%=f.submit("Save")%>
<%end%>
</div>

