<h2> <%=@project.name%> Project </h2>
<h3> <%=@project.project_description%> </h3>
<%=link_to "Edit Project", edit_project_path(@project)%><br><br>

<% @project.tasks.each do |t| %>
    <li><%= t.task_description %> // Priority: <%= t.priority %> // 
    Assigned To: <%= User.find_by(id: "#{t.assigned}").username %> // 
        <% if (t.task_status == 2)%>
            ✅ COMPLETE
        <% else %>
            ❌ INCOMPLETE
        <%end%>  
    </li>
<%end%>



<br>

<%=link_to "Add Task", new_project_task_path(@project) %><br><br>
<%=button_to("Delete", @project, method: :delete, data: { confirm: "Really?" }) %>